/* Icône flottante */
#chat-icon {
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 9999;
}

#chat-icon img {
    width: 8vw;
    max-width: 60px;
    min-width: 32px;
}

/* Bulle du chat */
#chat-box {
    position: fixed;
    bottom: calc(2% + 70px);
    right: 2%;
    width: 500px;
    height: 500px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;

    display: none; /* caché au départ */

    flex-direction: column;
    z-index: 9999;

    /* animation */
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.2s ease;
}

#chat-box.open {
    display: flex;
    transform: scale(1);
    opacity: 1;
}

.chat-header {
    background: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-size: 14px;
}

.chat-body p {
    background: #e6e6e6;
    padding: 6px 10px;
    border-radius: 4px;
    margin-bottom: 6px;
    width: fit-content;
}

.chat-footer {
    display: flex;
    border-top: 1px solid #ccc;
}

.chat-footer input {
    flex: 1;
    border: none;
    padding: 8px;
}

.chat-footer button {
    border: none;
    background: #ddd;
    padding: 8px 12px;
    cursor: pointer;
}

/* USER & BOT */
.user-msg {      
    margin-left: auto;          
    text-align: right;
}

/* Message bot (gauche) */
.bot-msg {
    margin-right: auto;         /* pousse vers la gauche */
    text-align: left;
}
